---
layout: default
title : About
navbar_name: About
<!-- body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100" -->
---

<h2 class="pt-4" id="year-{{ year.name }}">About</h2>

<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h4 class="border-bottom border-gray p-3 mb-0">
        Education 
        <!-- <a href="publications">(view all <i class="fas fa-angle-double-right"></i>)</a> -->
    </h4>

    <div class="d-none d-md-block">
        <div class="row no-gutters border-bottom border-gray">

            <div class="col p-3 ml-md-2">
                <p class="mt-0 mb-0 small text-muted">2020-2022, University of Trento</p>
                <h6 class="mt-0 mb-1 font-weight-normal">MSc in Data Science</h6>
                
            </div>

        </div>
    </div>

    <div class="d-none d-md-block">
        <div class="row no-gutters border-bottom border-gray">
            <div class="col p-3 ml-md-2">
                <!-- <p class="mt-0 mb-0 small text-muted">Sep 2021-Jan 2022</p> -->
                <p class="mt-0 mb-0 small text-muted">Sep 2021-Jan 2022, Utrecht university</p>
                <h6 class="mt-0 mb-1 font-weight-normal">Erasmus exchange</h6>
                
            </div>
        </div>
    </div>



    <div class="d-none d-md-block">
        <div class="row no-gutters border-bottom border-gray">
            <div class="col p-3 ml-md-2">
                <!-- <p class="mt-0 mb-0 small text-muted">2017-2020</p> -->
                <p class="mt-0 mb-0 small text-muted">2017-2020, University of Trento</p>
                <h6 class="mt-0 mb-1 font-weight-normal">BSc in Science and Technology of Cognitive Psychology</h6>
                
            </div>
        </div>
    </div>





    <h4 class="border-bottom border-gray p-3 mb-0">
        Working and academic experience 
        <!-- <a href="publications">(view all <i class="fas fa-angle-double-right"></i>)</a> -->
    </h4>
    <!-- {{ site.data.profile.short_bio }} -->
    <!-- {{ site.work.profile_copy.primary_name }} -->
    {% assign item1 = site.work | where: "position", "Research Assistant" | first %}
    {% include widgets/work_item.html item=item1 %}

    {% assign item2 = site.work | where: "position", "Research Intern" | first %}
    {% include widgets/work_item.html item=item2 %}

    {% assign item3 = site.work | where: "position", "Student Collaborator" | first %}
    {% include widgets/work_item.html item=item3 %}
    <!-- {% for item in work.items %}
                {% include widgets/work_item.html item=item %}
    {% endfor %} -->
    <!-- <div class="d-none d-md-block">
        <div class="row no-gutters border-bottom border-gray">
    
            <div class="col p-3 ml-md-2">
                <p class="mt-0 mb-0 small text-muted">Jan 2023-May 2023, <a href="https://www.cimec.unitn.it/en" target="_blank">CIMeC</a></p>
                <h6 class="mt-0 mb-1 font-weight-normal">Research Assistant</h6>
                <p class="mt-0 mb-0 small text-muted">I was part of the <a href="https://www.cimec.unitn.it/en/776/information-and-integration-lab#on" target="_blank">Information and Integration Lab</a>, 
                    coordinated by <a href="https://webapps.unitn.it/du/en/Persona/PER0048943/Curriculum" target="_blank">Uri Hasson</a>.
                    I conducted research on deep convolutional neural networks (DCNNs) as models of human perception of 
                    visual similarity.
                </p>
            </div>
        </div>
    </div> -->

    <!-- <div class="d-none d-md-block">
        <div class="row no-gutters border-bottom border-gray">
            <div class="col p-3 ml-md-2">
                <p class="mt-0 mb-0 small text-muted">Mar 2022-May 2022, <a href="https://www.cimec.unitn.it/en" target="_blank">CIMeC</a></p>
                <h6 class="mt-0 mb-1 font-weight-normal">Research Intern</h6>
                <p class="mt-0 mb-0 small text-muted">I took part in a research project coordinated by <a href="https://webapps.unitn.it/du/en/Persona/PER0048943/Curriculum" target="_blank">Uri Hasson</a>. My main task was to 
                    develop a feature selection algorithm in the context of vision DNN pruning. My contribution
                    to the project was included in <a href="https://www.sciencedirect.com/science/article/pii/S0893608023004690" target="_blank">this</a> publication.  
            </p>
            </div>
        </div>
    </div> -->


    <!-- <div class="d-none d-md-block">
        <div class="row no-gutters border-bottom border-gray">
            <div class="col p-3 ml-md-2">
                <p class="mt-0 mb-0 small text-muted">Feb 2021-Sep 2022, Internationa Mobility Office of the University of Trento</p>
                <h6 class="mt-0 mb-1 font-weight-normal">Student Collaborator</h6>
                <p class="mt-0 mb-0 small text-muted">My job was to officially nominate outgoing Erasmus students 
                    and trainees to the partner universities, to prepare their financial agreements, and to accompany 
                    incoming international students during their appointments at the immigration office. I found
                    this job very enriching, as it gave me the opportunity to meet many international students and, at the same time,
                    do somehting useful for my fellow Unitn students.
                </p>
            </div>

        </div>
    </div> -->
</div>

