
h1 {
    font-family: 'Century Gothic', sans-serif;
    margin: 20px 2px;
    /* color:rgb(14, 168, 230); */
    /* font-size: 30pt;
    padding-top: 40px; padding-bottom: 30px; padding-right: 700px; padding-left: 50px; */
}

body {
    font-family: 'Century Gothic', sans-serif;

}

img {
    border-radius: 50%;
}

.container {
    display: flex;
}

/* .container img {
    width: 10%;
    height: auto;
} */

.container p {
    width: 50%;
  }